@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-futuristic{
  font-family: chopsicregular;
}


@font-face {
  font-family: chopsicregular;
  src: url('fonts/chopsic-k6dp-webfont.woff2') format('woff2'),
       url('fonts/chopsic-k6dp-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* for sidebar */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top*/
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

.sidebar div {
  vertical-align: middle;
}

.sidebar div div.active {
  background-color: rgb(226, 71, 152);
  font-weight: 500;
  backdrop-filter: blur(20px);
  /* opacity: 75%; */
}

.sidebar img {
  width: 24px;
  height: 24px;
}

.mobilesidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top*/
  top: 5px; /* Stay at the top */
  left: 5px;
  overflow-x: hidden; /* Disable horizontal scroll */
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.sidebar a {
  display: block;
}

/* When you mouse over the navigation links, change their color */
/* .sidebar a:hover {
  color: #f1f1f1;
} */

/* Style page content */
.main {
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.scroll-to-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

.topSlide {
  margin-top: 50px;
}

/* +++++++++++++++++++MODAL STYLING++++++++++++++++ */
/* The Close Button */
.dylan-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
 .dylan-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
 
/* The Close Button */
 .dylan-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.dylan-close:hover,
.dylan-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} 
/* +++++++++++++++++++MODAL STYLING++++++++++++++++ */
 

.modal {
  font-size: 12px;
  transition: opacity 1s ease;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.logo {
  position: relative;
  display: inline-block;
}

.logo:hover .logoblack {
  display: inline;
}

.logo .logoblack {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.test {
  transition: 'max-width 0.5s';
}

.gamecover {
  width: 11.22rem;
  height: 17rem;
}